@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.hw160 {
  height: 160px;
  width: 160px;
}

.hw60 {
  height: 60px;
  width: 60px;
}

.hw100 {
  height: 100px;
  width: 100px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #292929 #535353;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #535353;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 14px;
  border: 2px solid #535353;
}

.lg-button-center {
  left: calc(50% - 20rem/2);
}

.alert-center {
  left: calc(50% - (33.33333%/2));
}